body, h1, h2, p, a {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    color: #333;
}

body {
    background: linear-gradient(135deg, #0D1116 30%, #2E273F 70%);
    line-height: 1.6;
}

h1, h2 {
    margin-bottom: 10px;
    color: #8E97A1;
}

a {
    text-decoration: none;
    color: #3279A5;
}

p {
    font-family: monospace;
    color: #d4d4d4;
}

a:hover {
    color: #2980b9;
}

.content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: left;
}

/* Page title alignment */
.page-title {
    text-align: left;
    font-size: 2em;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 20%;
}

.ihu-title {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 70px;
    background-color: #1C1F26;
    color: #333333;
    font-size: 1.8em;
    border: 1px solid grey;
    margin-top: 30px;
}

/* Container styles */
.container {
    width: 60%;
    height: 510px;
    overflow-y: scroll;
    margin: 0 auto 20px;
    padding: 20px;
    background-color: #12181F;
    box-shadow: 0 0 60px rgba(135, 104, 159, 0.4);
    z-index: 3; /* Ensure it is in front of the background animation */
    border-radius: 8px;
    position: relative;
    scrollbar-color: #8E97A1 #21262E;
    scrollbar-width: thin;
}

.folder-content-container {
    display: grid;
    grid-template-columns: 1fr 5fr;
    gap: 10px;
    width: 60%;
    margin: 0 auto;
    background-color: #12181F;
    box-shadow: 0 0 60px rgba(135, 104, 159, 0.4);
    z-index: 3; /* Ensure it is in front of the background animation */
    border-radius: 8px;
    padding: 20px;
}

.filter-buttons-container {
    position: sticky;
    top: 0;
    height: 510px;
}

.images-list-container {
    width: 100%;
    height: 510px;
    overflow-y: scroll;
    scrollbar-color: #8E97A1 #21262E;
    scrollbar-width: thin;
}

.file-list {
    border-radius: 8px;
    background-color: #1C1F26;
    overflow: hidden;
}

.file-item:nth-child(odd) {
    background-color: #2F363D;
}

.file-item:nth-child(even) {
    background-color: #21262E;
}

.file-item.even {
    background-color: #2F363D;
}

.file-item.odd {
    background-color: #21262E;
}

.file-item {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    display: flex;
    justify-content: space-between;
}

.file-name {
    width: 66.67%; /* 2/3 of the width */
}

.file-date {
    width: 33.33%; /* 1/3 of the width */
    text-align: right;
    color: #8E97A1;
    font-size: 0.9em;
    font-family: monospace;
}

/* Comments title */
.comments-title {
    text-align: left;
    font-size: 2em;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 20%;
}

/* comments container on home page */
.comments-container {
    width: 60%;
    height: 400px;
    overflow-y: scroll;
    margin: 0 auto 20px;
    margin-bottom: 150px;
    padding: 20px;
    background-color: #12181F;
    border-radius: 8px;
    position: relative;
    box-shadow: 0 0 60px rgba(135, 104, 159, 0.4);
    z-index: 3; /* Ensure it is in front of the background animation */
    scrollbar-color: #8E97A1 #21262E;
    scrollbar-width: thin;
}

/* Individual comment item styles */
.comment-item {
    padding: 10px;
    margin-bottom: 10px;
    background-color: #21262E;
    border-radius: 5px;
}

.comment-header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 5px;
}

.comment-filename {
    color: #3279A5;
}

.comment-timestamp {
    color: #8E97A1;
    font-size: 0.9em;
    font-family: monospace;
    margin-left: auto;
}

.comment-body {
    margin-top: 5px;
    margin-left: 15px;
    /* margin-right: 75px; */
    padding-left: 5px;
    border-left: 1px solid #8E97A1; /* Bar on the left */
    font-family: monospace !important;
    position: relative;
}

/* Unique pill container and button styling */
.back-to-home {
    position: absolute;
    right: 0;
    top: 50%; /* Adjust as needed */
    /* transform: translateY(-50%); */
    text-align: center;
    font-size: 2em;
    /* color: #3579A6; */
    /* text-decoration: none; */
    /* padding: 10px 20px; */
    /* background-color: #000; */
    /* border: 1px solid #87689E; */
    /* border-radius: 8px; */
    margin-right: 20%;
}

a.back-to-home:hover {
    color: #2980b9;
}

.pill-container-unique {
    display: flex;
    justify-content: left;
    margin-bottom: 20px;
    margin-top: 50px;
    margin-left: 20%; 
}

.pills-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%; /* Adjust as needed to match the width of the folder-content-container */
    margin: 0 auto; /* Center the pills-container */
    position: relative;
    margin-bottom: 20px; /* Add space below the pills-container */
}

.pill-button-unique {
    background-color: #000000;
    border: 1px solid #87689E;
    color: #d4d4d4;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 8px;
    margin-right: 10px; /* Add some space between pills */
    font-size: 1.1em; /* Increase font size */
    font-weight: normal; /* Make text normal for inactive pill */
}

.pill-button-unique:hover {
    background-color: #87689E;
}

.pill-button-unique.active {
    background-color: #000000;
    font-weight: bold; /* Make text bold for active pill */
    border: 3px solid #87689E;
    box-shadow: 0 0 15px rgba(135, 104, 159, 0.8);
}

.pill-button-unique.active:hover {
    background-color: #87689E;
}

.tab-content {
    display: none;
}

.tab-content.active {
    display: block;
}

/* gallery overlay styling */
.gallery-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1000;
    display: grid;
    overflow: hidden;
}

.content-container {
    display: flex;
    justify-content: space-between;
    align-items: center; /* Center contents vertically */
    height: 100%;
    width: 100%;
}

.left-content {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: calc(100% - 250px); /* Adjust based on right-comments width */
    height: 100%;
    position: relative;
}

.right-comments {
    position: relative; /* Ensure the close button is positioned correctly within this container */
    display: flex;
    flex-direction: column;
    align-items: center; /* Center contents horizontally */
    justify-content: center; /* Center contents vertically */
    width: 250px; /* Fixed width for comments section */
    margin-left: 20px;
    margin-right: 20px; /* Add this line for right margin */
}

/* Add new styles for navigation buttons */
.nav-container {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 20px; /* Add space below the comment container */
}

.nav-container .arrow {
    margin: 0 20px; /* Increase horizontal margin to add space between arrows */
    cursor: pointer;
    width: 50px; /* Set width of the circle */
    height: 50px; /* Set height of the circle */
    background-color: #333; /* Background color of the circle */
    border-radius: 50%; /* Make the background a circle */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.nav-container .arrow:hover {
    color: #87689F;
}


.gallery-title {
    color: #8E97A1;
    font-size: 24px;
    margin: 0 10px;
    height: 50px;
    line-height: 50px;
    overflow: hidden;
    white-space: nowrap;
    text-align: center;
    flex-grow: 1;
}

.gallery-title-container {
    margin-bottom: 10px;
    align-self: flex-start;
}

.gallery-title-line {
    color: #8E97A1;
    font-size: 16px;
    margin: 5px 0;
    text-align: left;
    white-space: nowrap;
    margin-right: 10px; 
}

.arrow {
    font-size: 32px;
    color: white;
    transition: color 0.3s;
    cursor: pointer;
    position: relative; /* Changed to relative for better positioning */
}

.arrow:hover {
    color: #87689F;
}

.left-arrow {
    left: 10px; /* Adjust the value to move the arrow closer to the content */
}

.right-arrow {
    right: 10px; /* Adjust the value to move the arrow closer to the content */
}

.closeButton {
    font-size: 24px;
    color: white;
    background: none;
    border: none;
    cursor: pointer;
    transition: color 0.3s;
    position: absolute;
    top: 10px;
    right: 10px;
}

.closeButton:hover {
    color: #87689F;
}

.gallery-content {
    height: 100vh; /* Ensure the image fills the vertical space */
    width: auto; /* Ensure the width adjusts accordingly to maintain aspect ratio */
    object-fit: contain;
    position: relative;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.overlay-iframe {
    width: 90% !important;
    height: 90% !important;
    background-color: white;
}

/* comment container in gallery */
.comment-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    background-color: #21262E;
    border: 1px solid #8E97A1;
    border-radius: 8px;
    overflow: hidden;
    margin-right: 10px;
}

.log-comment-container {
    width: 80%;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    background-color: #21262E;
    border: 1px solid #8E97A1;
    border-radius: 8px;
    overflow: hidden;
    margin-right: 10px;
    margin-top: 10px; 
}

.commentBox {
    width: 90%;
    height: 50px;
    border: 1px solid darkgrey;
    border-radius: 8px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.submit-button {
    width: 90%;
    font-size: 1em;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    color: #d4d4d4;
    background-color: #87689E;
    border-radius: 8px;
    cursor: pointer;
}

.submit-button:hover {
    background-color: #a787b3;
}

/* Styles for folder list on the home page */
.folder-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.folder-item {
    padding: 10px 0;
    border-bottom: 1px solid #eee;
}

.folder-name {
    font-weight: bold;
}

/* background stars animation */
@keyframes move-background {
    from {
        -webkit-transform: translate3d(0px, 0px, 0px);
    }
    to {
        -webkit-transform: translate3d(1000px, 0px, 0px);
    }
}

@-webkit-keyframes move-background {
    from {
        -webkit-transform: translate3d(0px, 0px, 0px);
    }
    to {
        -webkit-transform: translate3d(1000px, 0px, 0px);
    }
}

@-moz-keyframes move-background {
    from {
        -webkit-transform: translate3d(0px, 0px, 0px);
    }
    to {
        -webkit-transform: translate3d(1000px, 0px, 0px);
    }
}

.background-container {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
}

.stars {
    background: black url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/stars.png) repeat;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: block;
    z-index: 0;
}

.twinkling {
    width: 10000px;
    height: 100%;
    background: transparent url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/twinkling.png") repeat;
    background-size: 1000px 1000px;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 2;
    -moz-animation: move-background 70s linear infinite;
    -ms-animation: move-background 70s linear infinite;
    -o-animation: move-background 70s linear infinite;
    -webkit-animation: move-background 70s linear infinite;
    animation: move-background 70s linear infinite;
}

/* overlay comment log styles */
.comment-log {
    margin-top: 10px;
    padding: 10px;
    background-color: #f8f9fa;
    border: 1px solid #dee2e6;
    border-radius: 5px;
    max-height: 200px;
    overflow-y: auto;
}

.comment-log .comment-item {
    margin-bottom: 10px;
}

.comment-log .comment-timestamp {
    font-size: 0.8em;
    color: #6c757d;
}

.comment-log .comment-text {
    margin: 0;
}

/* Grid container for IHU content */
.grid-container-ihu {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

/* Grid item styling for IHU */
.grid-item-ihu {
    border: 1px solid grey;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    font-size: 1.2em;
    font-weight: bold;
    margin: 2px;
    box-sizing: border-box;
}

/* Grid row styling for IHU */
.grid-row-ihu {
    display: grid;
    gap: 3px;
    grid-template-columns: repeat(var(--columns), 45px);
    justify-content: start;
}

/* Styles for grid item buttons */
.grid-item-ihu button {
    background-color: transparent;
    border: none;
    color: inherit;
    font-size: inherit;
    cursor: pointer;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box; /* Ensure the button respects the box model */
}

/* Hover styles for grid item buttons */
.grid-item-ihu button:hover {
    border: 2px solid white;
    cursor: pointer;
}

/* Styles for the filter container and buttons */
.filter-container {
    display: grid;
    grid-template-columns: 1fr 5fr;
    gap: 10px;
}

.filter-buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
}

.filter-button {
    background-color: #21252E;
    border: 1px solid #2F363D;
    color: #d4d4d4;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 6px;
    text-align: left;
}

#html-filters .filter-button {
    width: 150px; /* Wider width for HTML filters */
    height: 45px;
}

.filter-button:hover {
    background-color: #2F363D;
}

.filter-button.active {
    background-color: #4E525D;
    font-weight: bold;
}

.images-list {
    background-color: #1C1F26;
    border-radius: 8px;
    padding: 10px;
}

/* Add the plot-list container styles */
.plot-list {
    background-color: #1C1F26;
    border-radius: 8px;
    padding: 10px;
}

.hidden {
    display: none;
}

/* magnifying in .jpg view */
.magnifier {
    position: absolute;
    border: 3px solid #000;
    /* Remove border-radius to make it a square */
    cursor: none;
    pointer-events: none;
    display: none;
    width: 400px;
    height: 400px;
    background-repeat: no-repeat;
    z-index: 1100;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

.hide-cursor {
    cursor: none;
}

/* pencil logo in comments-header on home page */
.markup-icon {
    display: inline-block;
    width: auto;
    padding-right: 5px; 
    font-size: 1.2em; 
    vertical-align: middle;
}

.instructions-container {
    margin-top: 50px;
    text-align: left;
    color: #d4d4d4;
    font-size: 14px;
    font-family: Arial, sans-serif;
}

.instructions-container p {
    margin: 5px 0;
}

/* delete comment button */

.delete-comment-button {
    position: absolute;
    right: 0px;
    /* top: 45px; */
    bottom: 0px;
    height: 25px;
    width: 60px;
    background-color: #21262E;
    color: #D4D4D4;
    border: 1px solid #FF6B6B;
    border-radius: 4px;
    cursor: pointer;
    font-size: 10px;
    line-height: 15px;
    text-align: center;
}

.comment-item {
    position: relative; 
}

.comment-body p {
    margin-right: 75px;
}
